# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# Libraries
incrementum/lib/

# IDE specific files
.idea/
.vscode/
*.sublime-*

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local development settings
.env
.env.local

# Logs
*.log

# Temporary files
*.bak
*.swp
*~

# OS specific
.DS_Store
arxiv/2310.18862v1_Counterfactually_Probing_Language_Identity_in_Multilingual_Models.pdf
arxiv/2502.18481v1_MDE_Modality_Discrimination_Enhancement_for_Multi-modal_Recommendation.pdf
arxiv/2502.19249v1_Between_Circuits_and_Chomsky_Pre-pretraining_on_Formal_Languages__Imparts_Linguistic_Biases.pdf
data/youtube_videos/youtube_JkRZ-Hc7PzE.json
data/youtube_videos/youtube_UgsKAb-gKpE.json
data/youtube_videos/youtube_3p-Eyt7-BBg.json
data/youtube_videos/youtube_xo9T8SlBUaI.json
